.l-search_area {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-dub_serh_btn {
  height: 40%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.serh_link {
  background-color: #FFFFFF;
  border-radius: 15px;
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.serh_link:hover {
  box-shadow: none;
}

.serh_link:hover .rotation {
  transform: rotateZ(360deg);
}

.rotation {
  transition: .5s;
  transform: rotateZ(0deg);
}

.serh_link p {
  margin-top: 30px;
  font-size: 20px;
  color: black;
}

.fa-question {
  color: #C9A7CF;
}

.fa-tags {
  color: #D1E8A4;
}
