.i_content {
  color: #b6cfe8;
}

.i_post {
  color: #a8d5ba;
}

.i_graph {
  color: #fdd7ac;
}

.i_search {
  color: #a3d7e4;
}

.i_favorite {
  color: #f6e8b1;
}

.i_profile {
  color: #f3a683;
}

.i_logout {
  color: #b8a9c9;
}

.i_mail {
  color: #f8cedb;
}
