<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="l-header_container">
    <div class="l-logo_area">
      <img class="p-logo" src="../../images/zakoubu_logo.jpg">
    </div>
     <div class="l-title_area">
        <p class="p-title">雑魚の産声</p>
        <p class="p-sub_title">駆け出しエンジニアの成り上がり記録</p>
     </div>
     <div class="l-menu_area">
     </div>
    </div>
</body>
</html>
